@model Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
    {
        <h4>
            Manager
        </h4>
    }
    else
    {
        <h4>
            Valued Customer
        </h4>
    }

    <hr />
    <p style="text-align:center">
        @Html.DisplayNameFor(model => model.Age) :
        @Html.DisplayFor(model => model.Age)
        <br>
        @Html.DisplayNameFor(model => model.Name):
        @Html.DisplayFor(model => model.Name)
        <br>
        @Html.DisplayNameFor(model => model.Email):

        @Html.DisplayFor(model => model.Email)
        <br>
    </p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Logout", "Logout")
    <br />
    @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
    {
        @Html.ActionLink("View all users", "Index");
    }
</div>
