@model IEnumerable<Models.StoreFront>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                
                @if (Context.Request.Cookies["CurrentUserAccess"] == "True")
                {
                <a asp-action="Delete" asp-route-id="@item.Id">Edit this store's inventory</a>
                }
                @if (Context.Request.Cookies["CurrentUserAccess"] == "False")
                {
                <a asp-action="Products" asp-route-id="@item.Id">Choose this store.</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
