@using Models;
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewBag.ChosenProduct.Name</h1>


<table align="center" class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    @ViewBag.ChosenProductInv.Quantity
                </td>
                <td>
                    @ViewBag.ChosenProduct.Name
                </td>
                <td>
                    @ViewBag.ChosenProduct.Description
                </td>
                <td>
                    <form asp-action="ProductDetails">
                        <fieldset>
                            <label for="OrderQuantity">Quantity to buy</label>
                            <input type="number" id="orderQuantity" name="orderQuantity" min="1" max="@ViewBag.ChosenProductInv.Quantity">
                            <input type="hidden" id="productId" name="productId" value="@ViewBag.ChosenProduct.Id">
                            <input type="hidden" id="storeId" name="storeId" value="@ViewBag.ChosenProductInv.StoreFrontId">
                            <input type="submit" value="Add to Cart">
                        </fieldset>
                    </form>
                </td>
            </tr>
    </tbody>
</table>
