@using Models;
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Inventory stock in ViewBag.Inventory)
        {
            Product currentProductInfo = new Product();
            @for (int x =0; x<Enumerable.Count(ViewBag.Product); x++)
            {
                if (stock.ProductId == ViewBag.Product[x].Id)
                {
                    currentProductInfo = ViewBag.Product[x];
                    x = Enumerable.Count(ViewBag.Product);
                }
            }
            <tr>
                <td>
                    @stock.Quantity
                </td>
                <td>
                    @currentProductInfo.Name
                </td>
                <td>
                    @currentProductInfo.Description
                </td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="@stock">Order</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
