@using Models;
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<head>
    <script src="~/js/sorttable.js"></script>
</head>
<table class="sortable" width="75%">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int z = 0; z < Enumerable.Count(ViewBag.Inventory); z++)
        {
            Product currentProductInfo = new Product();
            @for (int x = 0; x < Enumerable.Count(ViewBag.Product); x++)
            {
                if (ViewBag.Inventory[z].ProductId == ViewBag.Product[x].Id)
                {
                    currentProductInfo = ViewBag.Product[x];
                    x = Enumerable.Count(ViewBag.Product);
                }
            }
            <tr>
                <td>
                    @ViewBag.Inventory[z].Quantity
                </td>
                <td>
                    @currentProductInfo.Name
                </td>
                <td>
                    @currentProductInfo.Description
                </td>
                <td>
                    @Html.ActionLink("Order", "ProductDetails", new { id = ViewBag.Inventory[z].Id })
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
