@using Models; 

@{
    ViewData["Title"] = "ViewCurrentOrder";
}

<h1>ViewCurrentOrder</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>
            <th>
                Product
            </th>
            <th>
                StoreFront Ordered From
            </th>
            <th>
                Price Per Item
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int x = 0; x < ViewBag.Cart.Count; x++)
        {
            Product currentProduct = null;
            StoreFront currentStoreFront = null;
            @for (int y = 0; y < ViewBag.ProductInfo.Count; y++)
            {
                if (ViewBag.Cart[x].ProductId == ViewBag.ProductInfo[y].Id)
                {
                    currentProduct = ViewBag.ProductInfo[y];
                    y = ViewBag.ProductInfo.Count;
                }
            }
            for (int z = 0; z < ViewBag.Stores.Count; z++)
            {
                if (ViewBag.Cart[x].StoreFrontId == ViewBag.Stores[z].Id)
                {
                    currentStoreFront = ViewBag.Stores[z];
                    z = ViewBag.Stores.Count;
                }
            }
        <tr>
            <td>
                @ViewBag.Cart[x].Quantity
            </td>
            <td>
                @currentProduct.Name
            </td>
            <td>
                @currentStoreFront.State
            </td>
            <td>
                @currentProduct.Price
            </td>
            <td>
                @(currentProduct.Price*ViewBag.Cart[x].Quantity)
                <p hidden>@(ViewBag.Price=ViewBag.Price+(currentProduct.Price*ViewBag.Cart[x].Quantity))</p>
            </td>
            <td>
                <a asp-action="DeleteLineItem" asp-route-id="@x">Remove From Cart</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    Your total will be $@ViewBag.Price.
    @if (Context.Request.Cookies["CurrentUser"] == null)
    {
        <a asp-controller="User" asp-action="Login">Please login before ordering.</a>
    }
    @if (Context.Request.Cookies["CurrentUser"] != null)
    {
    <a asp-action="SubmitOrder" asp-route-id="@ViewBag.Price">Submit Order</a>
    }

</p>
